.Chat
	display flex

.Friends
	display inline-block
	position relative
	z-index 1
	top 50px
	width 82%
	height 270px
	margin-left 13%
	margin-right 15%
	margin-top 15px
	padding 10px 70px
	border 1px solid Turquoise
	border-radius 10px
	text-decoration none
	flex 1 0 auto
	
	h2
		width 200px
		color MediumTurquoise
		display inline-block
		margin 0px

	form
		input
			position relative
			top 5px
			padding 2px
			width 90%
			&:focus
				border-color Turquoise
				outline none

	button
		position relative
		top 10px
		border-style none
		border-radius 20px
		padding 6px
		background Turquoise
		color white
		&:hover
			background MediumTurquoise
		&:focus
			outline none
	
	p
		display inline-block
		position absolute
		color red
		padding 0px
		margin 0px
		left 190px
		top 70px
	
	ul
		height 150px
		overflow-y auto
		padding 0px
		
		
.lista
	text-decoration none
	
	.FriendsRow 
		list-style none
		position relative
		text-align left
		padding 5px

	&:nth-of-type(even)
		li
			background Azure
		
	&:nth-of-type(odd)
		li
			background PowderBlue
	
	&:first-of-type
		li
			border-radius 10px 10px 0px 0px
		
	&:last-of-type
		li
			border-radius 0px 0px 10px 10px
	
.Conversation
	display inline-block
	position absolute
	z-index 10
	left -25px
	top 160px
	width 82%
	height 260px
	margin-left 13%
	margin-right 15%
	margin-top 15px
	padding 10px 10px
	border 1px solid Turquoise
	border-radius 10px
	background white
	text-decoration none
	flex 1 0 auto
	
	h3
		display inline-block
		position relative
		padding 0px 10px
		margin 0px
		color SlateGray
		
	ul
		height 150px
		overflow-y auto
		padding 0px
		
	button
		position relative
		display inline-block
		border-style none
		border-radius 50%
		width 35px
		height 35px
		background Turquoise
		color white
		font-weight bolder
		&:hover
			background MediumTurquoise
		&:focus
			outline none

.display
	display inline-block
	
.display_none
	display none
	
.emisor
	margin 5px 0px
	list-style none
	width 70%
	
	p
		border-radius 20px 20px 20px 0px
		background PowderBlue
		padding 4px 6px
		margin 0px
		text-align left
	
.receptor
	margin 5px 0px
	list-style none
	width 70%
	position relative
	left 78px
	
	p
		border-radius 20px 20px 0px 20px
		background CadetBlue
		padding 4px 6px
		margin 0px
		text-align left

.TextSend
	button
		position relative
		left 10px
		top -15px
		border-style none
		border-radius 50%
		width 35px
		height 35px
		background Turquoise
		color white
		font-weight bolder
		&:hover
			background MediumTurquoise
		&:focus
			outline none
	
	textarea
		width 75%

/*
@keyframes conversacion
	from
		display inline-block
		z-index 10
	to
		position absolute
*/

.titulo-principal
	display inline-block
	position relative
	margin-left 13%
	h1
		display inline-block
		font-size 2.5em
		color MediumTurquoise
	
.navegacion-principal
	margin-left 30%
	li
		display inline-block
		margin-left 15px
	
.imagen-titulo
	display inline-block
	position relative
	top 20px
	left 10px
	width 80px
	height 80px

a
	text-decoration none
	color SteelBlue
	
.formulario
	display inline-block
	position relative
	margin 30px 20% 20px 20%

	.username
		display inline-block
		position absolute
		padding 2px
		&:focus
			border-color Turquoise

	.password
		top 30px
		padding 2px
		display inline-block
		position absolute
		&:focus
			border-color Turquoise
		
	.boton-ingreso
		position relative
		top 70px
		left 130px
		border 1px solid Turquoise
		border-radius 20px
		padding 6px
		background Turquoise
		color white
		&:hover
			background MediumTurquoise
		&:focus
			outline none

	h2
		position relative
		top 75px
		color SlateGray
		margin 15px 0px 0px 0px
		
.navegacion-secundaria
	display inline-block
	position relative
	float right
	right 10%
	
	.boton-ingreso
		position relative
		border 1px solid Turquoise
		border-radius 20px
		padding 6px
		background Turquoise
		color white
		&:hover
			background MediumTurquoise
		&:focus
			outline none
			
	.nombre
		display inline-block
		font-size 1.5em
		color CadetBlue
		margin-right 20px	

#error_login
	color red
	display inline-block
	position absolute
	left 20%
	top 126px
	